.class_over {
  position: fixed;
  right: 5%;
  bottom: 5%;
  font-size: 18px;
  font-weight: bold;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background: #2d8cf0;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s linear;
  z-index: 99999;
}
.class_over:hover {
  width: 80px;
  height: 80px;
  line-height: 80px;
}
.live_full_btn {
  font-size: 14px;
  cursor: pointer;
  color: red;
}
.switch_input_style {
  width: 350px;
  border-radius: 5px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 16px;
  color: #fff;
  z-index: 9999;
}
.switch_input {
  display: none;
}
.switch_input span {
  cursor: pointer;
}
.table_box {
  height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #3a3a3a;
  border-radius: 5px;
}
.table_box .ivu-tabs {
  color: #98aad4;
}
.table_box .ivu-tabs-bar {
  border: 0;
}
.table_box .ivu-tabs-mini .ivu-tabs-tab {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
}
.table_flex {
  display: flex;
  flex-wrap: wrap;
}
.table_item {
  padding: 10px;
  margin: 10px;
  border: 1px solid #343434;
  background: #3a3a3a;
}
.action_btn_style {
  color: green;
  cursor: pointer;
  margin: 5px;
}
.chatinput {
  background-color: #dcdee2 !important;
  width: 200px;
  position: absolute;
  top: 49px;
}
.chatboxtask {
  width: 70vw;
  min-width: 70vw;
  height: 70vh;
  max-width: 70vh;
  margin: 10px auto;
}
.materialitem {
  width: 200px;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.5s;
  border: 0;
  outline: 0;
}
.materialitem:hover {
  box-shadow: 0 0 7px 3px #afe5ff;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
}
#chat {
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  border-bottom-width: 0;
  margin: -6px -6px;
  overflow-y: auto;
}
.chat-item {
  width: 100%;
  display: flex;
}
.chat-item .userInfo {
  padding: 5px 3px 5px 10px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  overflow: hidden;
  word-wrap: break-word;
  word-break: normal;
}
.chat-item .userInfo .avator {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
}
.chat-item .userInfo .avator img {
  width: 100%;
}
.chat-item .content {
  display: inline-block;
  width: 200px;
  margin-left: 43px;
  word-wrap: break-word;
  word-break: normal;
  letter-spacing: 2px;
  background-color: #98E165;
  padding: 10px;
  border-radius: 5px;
  position: relative;
}
.chat-item .content::after {
  width: 0px;
  height: 0px;
  border: 8px solid;
  border-color: transparent transparent transparent #98E165;
  position: absolute;
  content: ' ';
  left: 0px;
  top: -6px;
}
.left {
  flex-direction: row;
}
.right {
  flex-direction: row-reverse;
  text-align: right;
}
.live .ivu-tabs-bar .ivu-tabs-nav-wrap .ivu-tabs-nav-scroll .ivu-tabs-nav {
  margin-left: 40% !important;
}
.pdfcard {
  border: none;
  border-radius: 0;
  margin-right: 10px;
}
#pdf {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  overflow-y: auto;
  align-items: center;
  background: #000;
}
.pdfcard::-webkit-scrollbar,
#chat::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
.pdfcard::-webkit-scrollbar-track,
#chat::-webkit-scrollbar-track {
  background: #3a3a3a;
}
.pdfcard:hover::-webkit-scrollbar-track,
#chat:hover::-webkit-scrollbar-track {
  background: #efefef;
}
.pdfcard::-webkit-scrollbar-thumb,
#chat::-webkit-scrollbar-thumb {
  background: #3a3a3a;
}
.pdfcard::-webkit-scrollbar-thumb:hover,
#chat::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.btn_live_style {
  margin-right: 10px;
  height: 40px;
  line-height: 40px;
  background-color: #3a3a3a;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn_live_style span {
  cursor: pointer;
  display: inline-block;
  margin: 0 15px;
  font-size: 14px;
}
.qrcode_btn {
  height: 23px;
  width: 23px;
  margin: 0 20px;
  background: url('../images/qrcode.png') no-repeat;
  background-size: 100%;
}
.danmushow {
  height: 23px;
  width: 23px;
  margin: 0 20px;
  background: url('../images/barrage.png') no-repeat;
}
.danmuopen {
  height: 23px;
  width: 23px;
  margin: 0 20px;
  background: url('../images/showbarrage.png') no-repeat;
}
.btn_live_style > span:last-child {
  height: 23px;
  width: 23px;
  background: url('../images/live_fullscreen.png') no-repeat;
}
.end_full {
  height: 23px;
  width: 23px;
  background: url('../images/endfull.png') no-repeat;
  display: inline;
  color: #fff;
}
.page_style {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #fff;
  box-sizing: border-box;
  border-radius: 50%;
  background: #fff;
  color: #333;
  box-shadow: 1px 2px 10px #333;
  font-size: 33px;
  line-height: 33px;
}
.page_style:hover {
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 15px #333;
  line-height: 45px;
  transition: all ease-in 0.1s;
}
.live_inline_student {
  display: inline-block;
  margin-right: 70px;
  font-size: 14px;
  letter-spacing: 2px;
}
.live_synchronous_btn {
  border-radius: 8px !important;
  width: 130px;
  font-size: 14px;
  letter-spacing: 3px;
  margin-right: 20px;
}
.chat_box_bottom {
  position: relative;
  height: 120px;
  margin-left: -6px;
  padding: 5px;
  margin-top: 5px;
}
.sendbtn {
  background: #FF8A00;
  border: 0;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  width: 65px;
  height: 32px;
  position: absolute;
  right: 8px;
  top: 49px;
}
.msg_length {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #949E96;
}
:-webkit-full-screen .switch_input {
  display: block !important;
}
:-moz-full-screen .switch_input {
  display: block !important;
}
:-ms-fullscreen .switch_input {
  display: block !important;
}
:fullscreen .switch_input {
  display: block !important;
}
:-webkit-full-screen .baberrage {
  position: fixed !important;
  top: 0;
}
:-moz-full-screen .baberrage {
  position: fixed !important;
  top: 0;
}
:-ms-fullscreen .baberrage {
  position: fixed !important;
  top: 0;
}
:fullscreen .baberrage {
  position: fixed !important;
  top: 0;
}
.baberrage {
  position: absolute;
  top: 0;
}
.live_box {
  margin: 10px auto;
  overflow: hidden;
}
.live_box .ivu-input-number-small .ivu-input-number-handler-down-inner {
  bottom: 0;
  right: -14px;
}
.live_box .ivu-input-number-small .ivu-input-number-handler-up-inner {
  top: 0;
  right: -14px;
}
.live_box .ivu-menu-dark {
  background: #3a3a3a;
}
.live_body {
  margin: 0;
  padding: 0;
  background-color: #16161A;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
}
.live-fz-20 {
  font-size: 20px !important;
}
@media screen and (min-width: 1790px) {
  .live_box {
    width: 1764px;
    height: 860px;
  }
  #chat {
    height: 759px;
  }
  .chat_box_bottom {
    height: 90px;
  }
  .chatinput {
    width: 337px;
  }
}
@media screen and (max-width: 1789px) and (min-width: 1592px) {
  .live_box {
    width: 1542px;
    height: 735px;
  }
  #chat {
    height: 519px;
  }
  .chat_box_bottom {
    height: 90px;
  }
  .chatinput {
    width: 282px;
  }
}
@media screen and (max-width: 1591px) and (min-width: 1330px) {
  .live_box {
    width: 1230px;
    height: 610px;
  }
  #chat {
    height: 449px;
  }
  .chat_box_bottom {
    height: 90px;
  }
  .chatinput {
    width: 204px;
  }
}
@media screen and (max-width: 1329px) and (min-width: 1240px) {
  .live_box {
    width: 1140px;
  }
  #chat {
    height: 409px;
  }
  .chat_box_bottom {
    height: 90px;
  }
  .chatinput {
    width: 181px;
  }
}
@media screen and (max-width: 960px) {
  .live_body {
    width: 960px;
  }
}
@media screen and (max-width: 1239px) {
  .live_box {
    width: 960px;
  }
  .btn_live_style span {
    margin: 0 10px;
  }
  .chatinput {
    width: 136px;
  }
  #chat {
    height: 300px;
  }
}

.live-header{
  background:#111113;
  line-height:64px;
  padding:0;
  min-width:1375px;
  font-size:14px
}
.live-l{
  background:#000000;
  padding:10px;
  height:100%;
  font-size: 14px;
}
.lvie-coursewarename{
  font-size:18px;
  font-weight:bold;
  margin-right:20px
}