.mobile-searchInput{
  width: 100%;
  border-radius:0.3rem;
  height: 0.6rem;
  border: none;
  outline: none;
  padding: 0 0.65rem;
  font-size: 0.28rem;
}
.hideScroll::-webkit-scrollbar { width: 0 !important }

.flex-contain{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.m-popup{
  top:0.86rem;
  width: 100%;
}
.m-badge{
  width: 0.14rem;
  height: 0.14rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0.04rem;
  right: 0.5rem;
}
.m-badge-num{
  padding: 0.02rem 0.1rem!important;  
}
.m-tree .ivu-tree-arrow i{
  font-size: 0.5rem;
}
.m-tree .ivu-tree-children{
  padding: 0 0.33rem;
  background-color: #ffffff;
}
.m-tree ul li{
  position: relative;
  margin: 0;
}
.m-tree .ivu-tree-arrow{
  position: absolute;
  right: 0.2rem;
  top: 0.4rem;
}
.m-tree>ul>li> .m-chapter-class-item{
  color: #222222;
  font-size: 0.34rem;
  font-weight: bold;
  border-bottom: 1px solid #CCCCCC;
  width: 100%;
  padding: 0.44rem 0.3rem 0.44rem 0.1rem;
}
.m-tree>ul>li .m-item2-title{
  display: inline-block;
  flex: 1;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.m-chapterInfo .m-chapter-class-item .item2-title{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.m-tree .m-chapter-class-item{
  padding: 0.34rem 0;
  color: #222222;
  font-size: 0.3rem;
  border-bottom: 1px solid #E5E5E5;
}
.m-chapter-class-item button{
  color: #3B9BFF;
  width: 1.53rem;
  height: 0.5rem;
  outline: none;
  border: 1px solid #3B9BFF;
  background-color: #ffffff;
  border-radius:0.25rem;
  text-align: center;
}
.m-progress .ivu-progress-bg{
  height: 0.06rem!important;
}
.m-progress.ivu-progress-show-info .ivu-progress-outer{
  padding-right: 0.3rem;
  margin-right: -0.3rem;
}
.m-chapterInfoT-contain{
  margin: 0.3rem 0.28rem;
  flex: 1;
  overflow-y: scroll;
}
.m-chapterInfoT-name{
  width: 100%;
  background-color: #EEEEEE;
  border-radius: 0.44rem;
  padding: 0 0.51rem;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.32rem;
  color: #444444;
  font-weight: bold;
}
.m-chapterInfoT-contain #myChart{
  /* width: 100%!important; */
}
.m-chapterInfoT-item{
  display: flex;
  padding: 0.2rem 0;
  border-bottom: 1px solid #EEEEEE;
  line-height: 0.52rem;
}
.m-chapterInfoT-item>img{
  width: 0.62rem;
  height: 0.62rem;
  border-radius: 50%;
  margin-right: 0.34rem;
}
.m-chapterInfoT-item>span:nth-of-type(1){
  color: #000000;
  font-size: 0.32rem;
  margin-right: 0.4rem;
}
.m-chapterInfoT-item>span:nth-of-type(2){
  color: #777777;
  font-size: 0.28rem;
  flex: 1;
}
.m-chapterInfoT-item>span:nth-of-type(3){
  color: #222222;
  font-size: 0.28rem;
}
.m-chapterInfoT-title{
  font-size: 0.36rem;
  color: #000000;
  font-weight: bold;
  margin-bottom: 0.3rem;
}



.m-b-btn{
  background-color: #3599FF;
  color: #ffffff;
  border-radius:5px;
  padding: 0.06rem 0.12rem;
  outline: none;
  font-size: 0.26rem;
  border: none;
}
.m-g-btn{
  background-color: #16C1A9;
  color: #ffffff;
  border-radius:5px;
  padding: 0.08rem 0.26rem;
  outline: none;
  font-size: 0.26rem;
  border: none;
}
.m-b-btn-b{
  background-color: #3599FF;
  color: #ffffff;
  outline: none;
  font-size: 0.3rem;
  border: none;
  width: 100%;
  height: 0.97rem;
  line-height: 0.97rem;
}
.m-w-btn-b{
  background-color: #FFFFFF;
  color: #3599FF;
  outline: none;
  font-size: 0.3rem;
  border: none;
  width: 100%;
  height: 0.97rem;
  line-height: 0.97rem;
}
.m-w-btn-b2{
  background-color: #FFFFFF;
  color: #3599FF;
  outline: none;
  font-size: 0.3rem;
  border: none;
  width: 100%;
  height: 0.97rem;
  line-height: 0.97rem;
  border: 1px solid #3599FF;
}
.m-gray-btn-b{
  background-color: none;
  outline: none;
  font-size: 0.3rem;
  border: none;
  width: 100%;
  height: 0.97rem;
  line-height: 0.97rem;
  color: gray;
}
.m-swipe{
  margin: 0.32rem 0.32rem 0 0.32rem;
  height: 3rem;
}
.m-swipe .mint-swipe-items-wrap{
  border-radius: 0.16rem;
}
.m-blue-tag{
  background-color: #3B9BFF;
  color: #ffffff;
  font-size: 0.26rem;
  text-align: center;
  padding: 0.06rem 0.11rem;
  border-radius:0.05rem;
}
.m-green-tag{
  background-color: #15C1A9;
  color: #ffffff;
  font-size: 0.26rem;
  text-align: center;
  padding: 0.06rem 0.11rem;
  border-radius:0.05rem;
}

.m-search{
  background-color: #ffffff;
}
.m-search .mint-searchbar{
  background: transparent;
  padding-left: 0.8rem;
}
.m-search .mint-searchbar-inner{
  background: #F7F7F7;
  height: 0.6rem;
  border-radius: 0.3rem;
  font-size: 0.28rem;
}
.m-search .mint-searchbar-inner .mintui-search{
  font-size: 0.28rem;
}
.m-search input{
  background: #F7F7F7;
  padding: 10px;
}
/* .m-cell .mint-cell-text{
  color: #212121;
  font-weight: bold;
  font-size: 3.4rem;
}
.m-cell .mint-cell-label{
  font-size: 2.6rem;
  color: #656565;
  margin-top: 2.7rem;
}
.m-cell{
  border-bottom: 1px solid #EDEDED;
  padding: 4rem 0;
} */
.m-taskItem{
  padding: 0.37rem 0.3rem;
  font-size: 0.26rem;
  color: #666666;
  display: flex;
  border-bottom: 1px solid #EEEEEE;
}
.m-taskItem-h-l{
  flex: 1;
}
.m-taskItem-title{
  font-size: 0.34rem;
  color: #222222;
  font-weight: bold;
  line-height: 0.52rem;
  margin-left: 0.13rem;
  vertical-align: middle;
  width: 0;
  flex: 1;
  overflow: hidden;
  text-overflow:ellipsis; 
  white-space:nowrap;
}
.m-taskItem-info{
  margin: 0.25rem 0 0.1rem 0;
}
.m-taskItem .ivu-icon{
  font-size: 0.5rem;
  color: #AAAAAA;
}

.mint-header{
  height: 0.86rem;
}
.m-tab-container{
  height: 100%;
}
.m-message .mint-tab-container{
  flex: 1;
  padding-bottom: 55px;
  overflow-y: scroll;
}
.m-tab-container .mint-tab-container-wrap{
  height: 100%;
}
.m-tabbar{
  background: #FFFFFF;
}
.m-tabbar a{
  color: #A2A2A2;
}
.m-tabbar > .mint-tab-item.is-selected{
  background: transparent;
}
.m-tabbar .mint-tab-item-icon{
  width: 0.56rem;
  height: auto;
}
.m-tabbar .mint-tab-item-label{
  margin-top: 0.08rem;
  font-size: 0.22rem;
}
.m-mt-navbar{
  background-color: transparent;
}
.m-mt-navbar .mint-tab-item{
  color: #FFFFFF;
  padding: 12px 0;
  z-index: 1;
}
.m-mt-navbar .mint-tab-item-label{
  font-size: 0.3rem;
}
.mint-header{
  background-color: #FFFFFF;
  color: #000000;
}
.m-mt-navbar .mint-tab-item.is-selected{
  color: #FFFFFF;
  border-bottom-color: #FFFFFF;
}
.mint-header-title{
  font-weight:bold;
  font-size: 0.38rem;
}



.mintui{
  font-size: 0.38rem;
}
.login-btn{
  width: 6.54rem;
  height: 0.88rem;
  line-height: 0.88rem;
  text-align: center;
  color: #FFFFFF;
  background-color: #9BC3EC;
  border-radius:0.44rem;
  font-weight:bold;
  outline: none;
  border: none;
  cursor: pointer;
}
.mobile-login{
  font-family:'PingFang SC';
  height: 100%;
}
.login-form{
  font-size: 0.3rem;
  margin: 2rem 0.54rem 0 0.54rem;
  flex: 1;
}
.loginfield{
  border-bottom: 1px solid #DCDCDC;
}
.login-form .mint-cell-wrapper{
  font-size: 0.3rem;
}
.loginSelect{
  border-bottom: 1px solid #DCDCDC;
  padding: 0.3rem 10px;
  position: relative;
  color: #9A9A9A;
  font-size: 0.3rem;
}
.login-form img{
  width: 0.4rem;
  position: absolute;
  right: 0;
  top: 0.3rem;
}
input::placeholder{
  color:#9a9a9a;
}
.login-bottom{
  text-align: center;
}
.login-bottom>img{
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  margin: 1.1rem 0;
}


/*登录页面 */
#peopleChorseT{
position: absolute;
width: 100%;
top:0.117rem;
height: 0.06rem;
}
.picker-toolbar-title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  height: 44px;
  line-height: 44px;
  font-size: 16px;
}
.picker-toolbar-title .usi-btn-cancel,.usi-btn-sure{
    color:#26a2ff;
    font-size: 16px;
}



/*选择身份登录*/
.mobile-index{
  height: 100%;
  width: 100%;
  font-weight:500;
  font-family:'PingFang SC';
}
.mobile-index-teacher,.mobile-index-student{
  width: 2.4rem;
  height: 2.4rem;
  font-size: 0.32rem;
  border-radius: 50%;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  margin-top: 2.1rem;
  position: relative;
}
.mobile-index-teacher>div,.mobile-index-student>div{
  width: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
}
.mobile-index-teacher{
  background:linear-gradient(-45deg,rgba(90,171,255,1),rgba(45,142,244,1));
}
.mobile-index-student{
  background:linear-gradient(-45deg,rgba(48,214,191,1),rgba(4,175,152,1));
}
.mobile-index-text{
  color: #7AB5F3;
  margin-bottom: 0.9rem;
  font-size: 0.3rem;
  text-align: center;
}
.mobile-index-teacher>div>div:nth-of-type(1),.mobile-index-student>div>div:nth-of-type(1){
  font-weight: bold;
}
.mobile-index-teacher>div>div:nth-of-type(2),.mobile-index-student>div>div:nth-of-type(2),.mobile-index-text>div:nth-of-type(2){
  font-size: 0.2rem;
  margin-top: 0.1rem;
}


.m-index{
  background: #F7F7F7;
  height: 100%;
}
/*移动教师端首页*/
.m-course{
  position: relative;
  height: 100%;
  padding-bottom: 55px;
}
.m-course-header-bc{
  width: 100%;
  height: 4.8rem;
  /* background:linear-gradient(0deg,rgba(10,24,64,1),rgba(10,62,253,1)); */
  background: #122C86;
  z-index: 0;
  position: absolute;
}
.m-course-header{
  position: relative;
  display: flex;
  padding: 0.58rem 0.31rem 0.2rem 0.31rem;
}
.m-course-header>div:nth-of-type(1){
  flex: 1;
  position: relative;
}
.m-search-icon{
  position:absolute;
  width: 0.34rem;
  top: 50%;
  transform: translate(0.19rem,-50%);
}
.m-course-header>div:nth-of-type(2){
  line-height: 0.6rem;
  margin-left: 0.44rem;
}
.m-seachImage{
  width: 0.48rem;
  vertical-align: middle;
}

/*教师端推荐*/
.recommend-choose{
  display: flex;
  justify-content: space-between;
  background:#ffffff;
  padding:0.32rem 0.72rem
}
.recommend-choose>div>div:nth-of-type(1){
  width: 0.96rem;
  height: 0.96rem;
  line-height: 0.96rem;
  border-radius: 50%;
  background: red;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 8px;
}
.recommend-choose>div:nth-of-type(1)>div:nth-of-type(1){
  background:linear-gradient(0deg,rgba(50,147,248,1),rgba(114,184,255,1));
}
.recommend-choose>div:nth-of-type(2)>div:nth-of-type(1){
  background:linear-gradient(0deg,rgba(22,200,176,1),rgba(65,222,200,1));
}
.recommend-choose>div:nth-of-type(3)>div:nth-of-type(1){
  background:linear-gradient(0deg,rgba(230,72,72,1),rgba(253,101,100,1));
}
.recommend-choose>div:nth-of-type(4)>div:nth-of-type(1){
  background:linear-gradient(0deg,rgba(233,157,36,1),rgba(250,180,68,1));
}
.recommend-choose>div>div:nth-of-type(2){
  font-size: 0.28rem;
  color: #404040;
  font-weight: 500;
}
.recommend-choose .ivu-icon{
  font-size: 0.6rem;
  color: #FFFFFF;
  vertical-align: middle;
}


/*搜索*/
.searchpage{
  position: relative;
}
.search-back-btn{
  position: absolute;
  font-size: 0.8rem;
  top: 0.08rem;
  z-index: 2;
}



/*消息*/
.mint-tab-item{
  color: #666666;
}
.m-message-tab .mint-tab-item-label{
  font-size: 0.3rem;
}
.question-item{
  display: flex;
}
.question-item-icon{
  line-height: 0.96rem;
  text-align: center;
  width:0.96rem;
  height:0.96rem;
  border-radius:0.1rem;
  margin: 0.25rem 0.32rem;
}
.question-item-info{
  display: flex;
  justify-content: space-between;
}
.question-item-l{
  width: 0;
  flex:1;
  padding: 0.3rem 0.32rem 0.3rem 0;
  border-bottom: 1px solid #DEDEDE;
}
.question-item-info>:nth-of-type(1){
  color:#191919;
  flex: 1;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.student-item-content{
  color:#ADADAD;
  font-size:0.28rem;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap
}
.question-item-name{
  font-size:0.34rem;
  font-weight:bold
}
.question-item-time{
  font-size:0.24rem;color:#C6C6C6
}
.question-item-icon>img{
  width: 0.48rem;
  height: 0.48rem;
  vertical-align: middle;
}
.m-discuss,.m-systeminfoShow,.m-undo,.m-classNotice{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  z-index: 10;
}
.m-discuss-bottom{
  display: flex;
  background-color: #F6F6F5;
  padding: 0.15rem 0.32rem;
}
.m-discuss-input{
  width: 100%;
  height: 0.8rem;
  line-height: 0.8rem;
  border: none;
  outline: none;
  border-radius: 0.08rem;
}









/*我的*/
.m-userCenter{
  width: 100%;
  height: 100%;
  z-index: 0;
  position: relative;
  background-color: #ffffff;
  padding-bottom: 55px;
}
.m-userCenter-bg{
  z-index: -1;
  position: absolute;
  top: 0;
  width: 100%;
  height: 4.31rem;
  background-color: #3B9BFF;
}
.m-userCenter-contain{
  padding: 0.3rem 0.3rem 0 0.3rem;
  height: 100%;
}
.m-userCenter-header{
  display: flex;
}
.m-userAvatar{
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  margin-right: 0.27rem;
}
.m-userCenter-icon>img{
  width: 0.43rem;
  margin-left: 0.33rem;
}
.m-userCenter-name{
  font-weight: bold;
  font-size: 0.36rem;
  color: #ffffff;
}
.m-userCenter-r{
  flex: 1;
}
.m-userCenter-c{
  color: #ffffff;
  font-size: 0.28rem;
}
.m-studentItem,.m-teacherItem{
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.m-userCenter-sel{
  margin-top: 0.48rem;
  border-radius:0.1rem;
  /* height: 28.7rem; */
  padding: 0.48rem 0 1.38rem 0;
  background-color: #ffffff;
  display: flex;
}
.m-userCenter-sel-itemN{
  font-size: 0.28rem;
}
.m-userCenter-sel>div{
  flex: 1;
  text-align: center;
}
.m-userCenter-sel img{
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.1rem;
}
.m-userCenter-type{
  flex: 1;
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
}
.m-userCenter-type>div{
  width: 25%;
  text-align: center;
  margin-bottom: 1.08rem;
  font-size: 0.28rem;
  color: #666666;
}
.m-userCenter-type img{
  height: 0.54rem;
  margin-bottom: 0.23rem;
}



/*考核评价*/
.m-evaluate{
  border-bottom:1px solid #EEEEEE;
  height: 100%;
}
.m-evaluate-contain{
  flex: 1;
  overflow-y: scroll;
  background-color: #F7F7F7;
}
.m-evaluate-bottom{
  background-color: #3B9BFF;
  color: #FFFFFF;
  text-align: center;
  font-size: 0.3rem;
  padding: 0.25rem 0;
}
.m-evaluate-bottom .ivu-icon{
  font-size: 0.47rem;
  margin-right: 0.21rem;
}
.m-evaluate-bottom span{
  vertical-align: middle;
}
.m-evaluate-item{
  padding: 0.35rem 0.3rem;
  border-bottom: 1px solid #E5E5E5;
  background-color: #ffffff;
  display: flex;
}
.m-evaluate-item:last-of-type{
  border-bottom: none;
}
.m-evaluate-item>div:nth-of-type(1){
  flex: 1;
  font-size: 0.3rem;
  color: #222222;
  font-weight: 500;
  overflow:hidden; 
  white-space:nowrap; 
  text-overflow:ellipsis;
}
.m-evaluate-item>div:nth-of-type(2){
  color: #222222;
  font-size: 0.28rem;
}
.m-evaluate-item>div:nth-of-type(2)>span{
  font-size: 0.36rem;
  color: #FF3333;
  font-weight: bold;
  vertical-align: middle;
}


/*提问老师*/
.m-teacherList{
  height: 100%;
}
.m-teacherList-contain{
  flex: 1;
  overflow-y: scroll;
}
.m-teacherList-contain>div{
  padding: 0.21rem 0.3rem;
  border-bottom: 1px solid #EDEDED;
  display: flex;
}
.m-teacherList-contain>div>img{
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  vertical-align: middle;
}
.m-teacherList-contain>div>span{
  font-size: 0.36rem;
  color: #000000;
  font-weight: bold;
  flex: 1;
  margin-left: 0.3rem;
  line-height: 0.9rem;
}
.m-teacherList-contain>div>button{
  width: 1rem;
  height: 0.5rem;
  border-radius: 0.1rem;
  background-color: #ffffff;
  border: 1px solid #3B9BFF;
  color: #3B9BFF;
  line-height: 0.5rem;
  text-align: center;
  margin: auto;
  outline: none;
}




/*我的任务*/
.m-taskIndex{
  height: 100%;
}
.m-taskIndex-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #EDEDED;
}
.m-taskIndex-header .mint-button--default{
  background-color: #ffffff;
  box-shadow:none
}
.m-homework-cell{
  padding: 0.4rem 0.3rem;
  border-bottom: 1px solid #EEEEEE;
}
.m-homework-cell .mint-cell-text{
  font-size: 0.34rem;
  color: #222222;
  font-weight: bold;
}
.m-homework-cell .mint-cell-label{
  margin-top: 0.25rem;
  color: #666666;
  font-size: 0.26rem;
}
.m-homework-cell .mint-cell-allow-right::after{
  width: 0.2rem;
  height: 0.2rem;
}
.m-taskIndex-navbar{
  flex: 1;
  margin: 0 0.74rem;
}
.m-taskIndex-navbar .mint-tab-item-label{
  font-size: 0.36rem;
}
.m-taskInfo{
  background: #F7F7F7;
  height: 100%;
}
.m-taskInfo .mint-header-button{
  flex: 0;
}
.m-taskInfo .mint-header{
  border-bottom: 1px solid #CBCBCB;
}
.m-taskDetail{
  background: #ffffff;
  padding: 0 0.3rem 0.39rem 0.3rem;
}
.m-taskDetail>div{
  padding-top: 0.4rem;
  font-size: 0.3rem;
}
.m-taskDetail>div>span:nth-of-type(1){
  color: #212121;
}
.m-taskDetail>div>span:nth-of-type(2){
  color: #656565;
}
.m-taskInfo-middle{
  flex: 1;
  overflow-y: scroll;
}
.m-taskContent{
  flex: 1;
  margin-top: 0.24rem;
  padding: 0.4rem 0.29rem;
  background-color: #ffffff;
  font-size: 0.3rem;
  color: #656565;
}
.m-taskInfo-member{
  text-align: center;
  color: #656565;
  font-size: 0.26rem!important;
}
.m-taskInfo-member img{
  width: 0.69rem;
  border-radius: 50%;
  margin-top: 0.42rem;
}
.m-taskInfo-member .ivu-divider-horizontal.ivu-divider-with-text-center{
  margin: 0;
  font-size: 0.3rem;
  color: #212121;
}
.m-taskAnswer{
  height: 100%;
}
.m-taskAnswer-contain{
  flex: 1;
  background-color: #F7F7F7;
  overflow-y: scroll;
}
.m-task-title{
  padding: 0.43rem 0.33rem;
  font-size: 0.34rem;
  color: #222222;
  font-weight: bold;
  word-break: break-all;
}
.m-task-content{
  background-color: #ffffff;
  flex: 1;
  padding: 0.44rem 0.32rem;
  outline: none;
}
.m-taskEvaluate{
  background-color: #F7F7F7;
  height: 100%;
}
.m-taskEvaluate-sub{
  padding: 0.48rem 0.26rem 0 0.26rem;
  font-size: 0.3rem;
  color: #666666;
  background-color: #ffffff;
  flex: 8;
  margin-bottom: 0.24rem;
  overflow-y: scroll;
}
.m-taskEvaluate-content{
  flex: 1;
}
.m-taskEvaluate-file{
  border-top: 1px solid #CCCCCC;
  padding-top: 0.39rem;
  padding-bottom: 0.25rem;
  display: flex;
}
.m-taskEvaluate-file>a{
  flex: 1;
  overflow: hidden;
  text-overflow:ellipsis; 
  white-space:nowrap;
}
.m-taskEvaluate-eva{
  background-color: #ffffff;
  flex: 7;
  font-size: 0.3rem;
  color: #666666;
  padding: 0.29rem 0.26rem;
  overflow-y: scroll;
}
.m-task-members img{
  width: 0.69rem;
  height: 0.69rem;
  border-radius: 50%;
  margin-right: 0.16rem;
}
.m-membersAnswer{
  height: 100%;
}
.m-membersAnswer-contain{
  flex: 1;
  background-color: #F7F7F7;
  overflow-y: scroll;
}
.m-task-members{
  background-color: #ffffff;
  margin-bottom: 0.24rem;
  padding: 0.35rem 0.3rem;
}
.m-task-members-header{
  display: flex;
}
.m-task-members-header>span{
  color: #666666;
  font-size: 0.26rem;
  line-height: 0.69rem;
}
.m-membersAnswer-content{
  font-size: 0.3rem;
  color: #444444;
  margin: 0.31rem 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.m-membersAnswer-un{
  background-color: #ffffff;
  font-size: 0.3rem;
  color: #444444;
  padding: 0.31rem;
}
.m-membersAnswer-un img{
  width: 0.69rem;
  height: 0.69rem;
  border-radius: 50%;
}




/*课程*/
.m-course .mint-header img{
  width: 0.36rem;
}
.m-course .mint-header a span{
  color: #3B9BFF;
  font-size: 0.3rem;
}
.m-mycourse-list{
  flex: 1;
  overflow-y: scroll;
}
.m-mycourse-item{
  background-color: #ffffff;
  margin: 0.24rem 0.3rem 0.28rem 0.3rem;
  display: flex;
  padding: 0.2rem;
}
.m-mycourse-item img{
  width: 2.2rem;
  height: 1.65rem;
  border-radius: 0.08rem;
}
.m-mycourse-list-info{
  flex: 1;
  margin-left: 0.18rem;
  width: 0;
}
.m-mycourse-list-info>div:nth-of-type(1){
  font-size: 0.34rem;
  color: #000000;
  font-weight: bold;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.m-mycourse-list-info>div:nth-of-type(2){
  font-size: 0.24rem;
  color: #999999;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 0.08rem;
}
.m-mycourse-list-info>div:nth-of-type(3){
  font-size: 0.24rem;
  color: #434343;
  margin-top: 0.08rem;
}


/*测试*/
.m-examInfo{
  height: 100%;
}
.m-examInfo .v-modal{
  top: 0.86rem;
}
.m-popup-contain{
  width: 100%;
  padding: 0.12rem 0.27rem;
  font-size: 0.3rem;
}
.m-popup-contain>div{
  margin: 0.32rem 0;
}
.m-popup-contain>div>span:nth-of-type(1){
  color: #222222;
  font-weight: bold;
}
.m-popup-contain>div>span:nth-of-type(2){
  color: #666666;
}
.m-examInfo-contain{
  flex: 1;
  background-color: #F7F7F7;
  overflow-y: scroll;
}
.m-examInfo-obj,.m-examInfo-subj{
  background-color: #ffffff;
}
.m-examInfo-obj{
  margin-bottom: 0.24rem;
  padding: 0.32rem;
}
.m-examInfo-subj{
  flex: 1;
}
.m-examInfo-obj-list{
  display: flex;
  flex-wrap: wrap;
}
.m-examInfo-obj-item{
  width: 0.82rem;
  height: 0.82rem;
  line-height: 0.82rem;
  text-align: center;
  border-radius: 50%;
  font-size: 0.34rem;
  margin: 0.12rem 0.2rem;
}
.m-examInfo-obj-item-normal{
  background-color: #ffffff;
  color: #AAAAAA;
  border: 1px solid #AAAAAA;
}
.m-examInfo-obj-item-active{
  background-color: #0099FF;
  color: #ffffff;
}
.m-examInfo-subj-item{
  border-bottom: 1px solid #CCCCCC;
  padding: 0.43rem 0.32rem;
  font-size: 0.32rem;
  color: #222222;
}
.m-examInfo-subj-item-answer{
  color:#666666;
  font-size:0.26rem;
  height: 0.87rem;
  overflow: hidden;
}
.content-shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  background:linear-gradient(transparent,#ffffff);
}



/*客观题题答题*/
.m-objectQuetion{
  height: 100%;
}
.m-object-contain{
  flex: 1;
  overflow-y: scroll;
  padding: 0.32rem;
}
.m-object-title{
  color: #222222;
  font-size: 0.34rem;
  font-weight: bold;
  margin-bottom: 0.55rem;
}
.m-object-item>div{
  margin-bottom: 0.32rem;
  width: 100%;
  border: 1px solid #AAAAAA;
  word-break: break-all;
  /* height: 0.88rem;
  line-height: 0.88rem; */
  text-align: center;
  border-radius: 0.1rem;
  color: #222222;
  font-size: 0.3rem;
  padding: 0.2rem 0;
}
.m-object-select{
  border: 1px solid #3699FF!important;
  color: #3699FF!important;
}
.m-object-bottom{
  height: 0.97rem;
  width: 100%;
  border-top: 1px solid #CCCCCC;
  display: flex;
}
.m-object-bottom>div{
  flex: 1;
  line-height: 0.97rem;
  text-align: center;
  font-size: 0.3rem;
  color: #3699FF;
}
.m-object-bottom>div:nth-of-type(1){
  border-right: 1px solid #CCCCCC;
}


/*主观题答题*/
.m-subjectQuetion{
  height: 100%;
}
.m-subject-contain{
  flex: 1;
  overflow-y: scroll;
}
.m-subject-title{
  padding: 0.43rem 0.33rem;
  background-color: #F7F7F7;
  color: #222222;
  font-size: 0.34rem;
  word-break: break-all;
  font-weight: bold;
}
.m-subject-answer{
  flex:1;
  padding:0.3rem;
  outline:none;
  font-size:0.32rem;
  color:#444444
}


/*教师端课件*/
.m-coursewareT{
  height: 100%;
}
.m-coursewareT .mint-tab-container{
  flex: 1;
}
.m-coursewareT .mint-tab-container-wrap{
  height: 100%;
}
.m-coursewareT-header{
  padding: 0 1.84rem;
  border-bottom: 1px solid #CCCCCC;
  position: relative;
}
.m-coursewareT-header .mint-tab-item{
  margin: 0 0.15rem;
  padding: 0.23rem 0;
}
.m-coursewareT-header .mint-tab-item-label{
  font-size: 0.36rem;
}
.m-coursewareT-header .mint-navbar .mint-tab-item.is-selected{
  margin-bottom: 0;
}
.m-coursewareT-header>img{
  position: absolute;
}
.m-coursewareT-header>img:nth-of-type(1){
  left: 0.3rem;
  width: 0.2rem;
  top: 0.2rem;
}
.m-coursewareT-header>img:nth-of-type(2){
  right: 0.3rem;
  width: 0.36rem;
  top: 0.26rem;
}
.m-coursewareT .mint-tab-container-item{
  padding: 0 0.28rem;
  height: 100%;
  overflow-y: scroll;
}
.m-coursewareTItem{
  display: flex;
}
.m-coursewareT-sort{
  width: 1.91rem;
  margin: 0.1rem 0;
}
.m-coursewareT-info{
  flex: 1;
}
.m-coursewareT-info-b{
  display: flex;
  justify-content: space-between;
  margin-top:0.04rem
}
.m-coursewareT-info-b .ivu-icon{
  font-size: 0.36rem;
  margin-right: 0.13rem;
  color: #4A4A4A;
}
.m-coursewareTItem{
  padding: 0.47rem 0 0.35rem 0;
  border-bottom: 1px solid #CCCCCC;
  color: #999999;
  font-size: 0.24rem;
}
.m-coursewareT-title{
  font-size: 0.34rem;
  color: #000000;
  font-weight:bold;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-right: 0.51rem;
}
.m-coursewareT-s{
  font-size: 0.36rem;
  font-style:italic;
  font-weight:bold;
  margin-left: 0.13rem;
  transform: translateY(0.04rem);
  display: inline-block;
}
.m-coursewareTItem:nth-of-type(1) .m-coursewareT-s{
  color: #FF0000;
}
.m-coursewareTItem:nth-of-type(2) .m-coursewareT-s{
  color: #FF6600;
}
.m-coursewareTItem:nth-of-type(3) .m-coursewareT-s{
  color: #FFCC00;
}



/*学生端课件*/
.m-courseware{
  height: 100%;
}
.m-courseware .mint-header{
  border-bottom: 1px solid #CBCBCB;
}
.m-courseware .mint-header img{
  width: 0.36rem;
}
.m-mycourseware-list{
  flex: 1;
  padding: 0 0.3rem;
  background-color: #ffffff;
  overflow-y: scroll;
}
.m-mycourseware-item{
  display: flex;
  padding: 0.56rem 0;
  border-bottom: 1px solid #CBCBCB;
}
.m-mycourseware-item>div:nth-of-type(1){
  font-size: 0.43rem;
  font-style:italic;
  font-weight: bold;
  line-height: 0.96rem;
}
.m-mycourseware-info{
  flex: 1;
  margin: 0 0.46rem;
}
.m-mycourseware-info>div:nth-of-type(1){
  font-size: 0.34rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}
.m-mycourseware-info>div:nth-of-type(2){
  font-size: 0.24rem;
}
.m-mycourseware-item>div:nth-of-type(3){
  font-size: 0.24rem;
  line-height: 0.96rem;
}
.m-mycourseware-bottom{
  display: flex;
}
.m-mycourseware-bottom>div{
  flex: 1;
}
.m-color-red{
  color: #FF3333;
}
.m-color-blue{
  color: #3B9BFF;
}
.m-color-gray{
  color: #656565;
}
.m-color-gray9{
  color: #999999;
}
.m-color-gray87{
  color: #878787;
}
.m-color-black{
  color: #000000;
}

/*选课*/
.m-selectcourse{
  height: 100%;
}
.m-selectcourse .ivu-radio-wrapper{
  white-space: initial;
}
.m-selectcourse-contain{
  flex: 1;
  overflow-y: scroll;
  background-color: #F7F7F7;
}
.m-selectcourse-item:nth-of-type(1){
  margin-top: 0.14rem;
}
.m-selectcourse-item:last-of-type{
  margin-bottom: 0.14rem;
}
.m-selectcourse-item{
  background-color: #ffffff;
  margin: 0.28rem 0.3rem;
  display: flex;
  padding: 0.2rem;
  border-radius: 0.08rem;
}
.m-selectcourse-item img{
  width: 2.2rem;
  height: 1.65rem;
  border-radius: 0.08rem;
}
.new-check{
  width: 0.3rem;
  height: 0.3rem;
  border: 1px solid #dcdee2;
  box-sizing: content-box;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
}
.new-check>div{
  display: inline-block;
  width: 0.19rem;
  height: 0.19rem;
  /* transform: translateY(-0.2rem); */
  background-color: #3699FF;
  border-radius: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*课件信息*/
.m-coursewareInfo{
  height: 100%;
}
.m-coursewareInfo-contain{
  background-color: #F7F7F7;
  flex: 1;
  overflow-y: scroll;
}
.m-coursewareInfo-contain>div{
  margin-bottom: 0.24rem;
  background-color: #ffffff;
}
.m-coursewareInfo-contain>div:last-of-type{
  margin-bottom: 0;
}
.m-coursewareInfo-contain>div:nth-of-type(1){
  padding: 0.4rem 0.29rem;
}
.m-coursewareInfo-title{
  color: #000000;
  font-size: 0.34rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}
.m-coursewareInfo-info{
  display: flex;
  font-size: 0.24rem;
  color: #999999;
  margin-bottom: 0.14rem;
}
.m-coursewareInfo-contain button{
  margin-top: 0.25rem;
  border-radius:0.1rem;
}
.courseTask>div{
  padding: 0.3rem;
}
.courseTask>div:nth-of-type(2){
  padding: 0.1rem 0.3rem;
}
.courseTask>div:nth-of-type(1){
  border-bottom: 1px solid #E5E5E5;
  color: #666666;
  font-size: 0.26rem;
}
.courseTask-item{
  display:flex;
  border-bottom: 1px solid #E5E5E5;
  padding: 0.28rem 0;
}
.courseTask-item:last-of-type{
  border: none;
}
.courseTask-item>div:nth-of-type(1){
  font-size: 0.3rem;
  color: #222222;
  font-weight: bold;
}
.courseTask-item>div:nth-of-type(2){
  font-size: 0.3rem;
  color: #666666;
}
.unList{
  padding: 0.1rem 0;
}
.m-courseTimetable{
  height: 100%;
}
.courseTablemobileContain{
  flex:1;
  overflow-y: scroll;
  margin-bottom: 0.18rem;
}


/*章节信息*/
.m-chapterInfo{
  background-color: #ffffff;
  height: 100%;
}
.m-chapterInfo .mint-header{
  border-bottom: 1px solid #CBCBCB;
}
.m-chapterInfo .mint-header img{
  width: 0.36rem;
}
.m-chapterInfo-contain{
  flex: 1;
  overflow-y: scroll;
}
.m-pano-item{
  margin:0 0.3rem;
  padding:0.3rem 0;
  border-bottom:1px solid #CBCBCB;
  display:flex
}
.m-pano-item img{
  width:2.5rem;
  height:1.5rem;
  margin:0 0.3rem 0 0.1rem
}
.m-pano-item-name{
  font-size:0.34rem;
  color:#000000;
  font-weight:bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/*章节详情*/
.m-chapterDetail{
  position: relative;
  height: 100%;
}
.m-chapterDetail-contain>div:nth-of-type(1){
  padding: 0.3rem;
  border-bottom: 1px solid #F7F7F7;
}
.m-chapterDetail .ivu-icon{
  position: absolute;
  font-size: 0.6rem;
  color: #ffffff;
  top: 0.1rem;
  left: 0.1rem;
  z-index: 2;
}
.m-chapterDetail-contain{
  flex: 1;
  overflow: hidden;
}
.m-chapterDetail-contain-c{
  overflow-y: scroll;
  flex: 1;
}
.m-chapterDetail-bottom{
  border-top: 1px solid #EEEEEE;
  display: flex;
}
.m-chapterDetail-bottom>img{
  width:0.54rem;
  height:0.49rem;
  margin: auto 0.32rem;
}
.m-chapterDetail-bottom>input{
  flex: 1;
  height: 0.8rem;
  line-height: 0.8rem;
  border-radius: 0.1rem;
  background-color: #F5F5F5;
  border: 1px solid #EEEEEE;
  margin: 0.14rem 0 0.14rem 0.14rem;
  outline: none;
  padding: 0 0.27rem;
  font-size: 0.32rem;
}
.m-chapter-discuss-item{
  display: flex;
  padding: 0.3rem;
}
.m-chapter-discuss-item img{
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
}
.m-chapter-discuss-item>div:nth-of-type(2){
  margin-left: 0.2rem;
  flex: 1;
}
.m-chapter-discuss-item>div:nth-of-type(2)>div:nth-of-type(1){
  display: flex;
  justify-content: space-between;
  color: #888888;
}
.m-chapter-discuss-item>div:nth-of-type(2)>div:nth-of-type(2){
  word-break: break-all;
  font-size: 0.3rem;
  color: #222222;
}


/*考勤*/
.m-attendance{
  height: 100%;
}
.m-attendance .mint-cell-wrapper{
  min-height: auto;
  padding: 0 0.31rem;
}
.m-attendance .m-cell{
  padding: 0.48rem 0;
}
.m-attendance-contain{
  flex: 1;
  overflow-y: scroll;
}
.m-attendance .m-cell .mint-cell-text{
  font-weight: 500;
  font-size: 0.34rem;
}
.m-attendanceDetail{
  height: 100%;
}
.m-attendanceDetail-contain{
  flex: 1;
  background-color: #F7F7F7;
  padding: 0.22rem 0.3rem;
}
.m-attendanceDetail-contain-header{
  width: 100%;
  height: 2.6rem;
  background-image: url("../../assets/images/mobile_student/atten-bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0.58rem 0.42rem;
}
.m-attendanceDetail-name{
  font-weight: bold;
  font-size: 0.42rem;
  color: #ffffff;
  flex: 1;
}
.m-attendanceDetail-info{
  display: flex;
  justify-content: space-between;
  font-size: 0.34rem;
  color: #FFFFFF;
}
.m-attendanceDetail-d{
  display: flex;
  background: #ffffff;
  margin-top: 0.36rem;
}
.m-attendanceDetail-d>div{
  flex:1;
  text-align: center;
  border-right: 1px solid #E5E5E5;
}
.m-attendanceDetail-d>div:last-of-type{
  border-right: none;
}
.m-attendanceDetail-d>div>div:nth-of-type(1){
  padding-top: 0.47rem;
  font-size: 0.3rem;
  color: #444444;
  font-weight: 500;
}
.m-attendanceDetail-d>div>div:nth-of-type(2){
  margin:0.1rem 0 0.46rem 0;
  font-size: 0.6rem;
  font-weight: bold;
}


/*笔记*/
.m-noteList{
  height: 100%;
}
.m-noteList-contain{
  flex: 1;
  background-color: #F7F7F7;
  overflow-y: scroll;
}
.m-noteList-notename{
  font-size: 0.3rem;
  font-weight: 500;
  color: #666666;
  padding: 0.24rem 0.3rem;
}
.m-noteList-ul>li{
  background-color: #ffffff;
  padding: 0.35rem 0.3rem;
  font-size: 0.3rem;
  color: #222222;
  display: flex;
  border-bottom: 1px solid #E5E5E5;
}
.m-noteList-ul>li:last-of-type{
  border-bottom: none;
}
.m-noteList-ul>li img{
  width: 0.17rem;
}
.m-noteDetail{
  height: 100%;
}
.m-noteDetail-contain{
  flex: 1;
  overflow-y: scroll;
}
.m-noteDetail-bottom{
  display: flex;
  border-top: 1px solid #CCCCCC;
  width: 100%;
}
.m-noteDetail-bottom>button{
  flex: 1;
  padding: 0.34rem 0;
  text-align: center;
  font-size: 0.3rem;
  background-color: #FFFFFF;
  outline: none;
  border: none;
}
.m-noteDetail-bottom>button:nth-of-type(1){
  color: #3699FF;
  border-right: 1px solid #CCCCCC;
}
.m-noteDetail-bottom>button:nth-of-type(2){
  color: #FF3333;
}
.m-noteDetail-h{
  padding: 0.3rem;
  display: flex;
  border-bottom: 1px solid #E5E5E5;
}
.m-noteDetail-header{
  flex: 1;
}
.m-noteDetail-header-title{
  color: #222222;
  font-size: 0.34rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
  padding-right: 0.1rem;
  outline: none;
}
.m-noteDetail-header-time{
  color: #444444;
  font-size: 0.28rem;
}
.m-noteDetail-h img{
  width: 0.4rem;
}
.m-noteDetail-content{
  padding: 0.4rem 0.28rem;
  font-size: 0.32rem;
  color: #444444;
  flex: 1;
}
.m-noteDetail-content .mint-field.is-textarea,.m-noteDetail-content .mint-field.is-textarea .mint-cell-value,.m-noteDetail-content .mint-field-core{
  height: 100%;
}
.m-noteDetail .mint-cell-wrapper,.m-noteDetail .mint-field.is-textarea .mint-cell-value{
  padding: 0;
}
.m-evaluateMembers{
  height: 100%;
}
.m-evaluateMembers-contain{
  flex: 1;
  overflow-y: scroll;
  background-color: #F7F7F7;
}
.m-evaluateMembers-contain img{
  width: 0.69rem;
  height: 0.69rem;
  border-radius: 50%;
  margin-right: 0.16rem;
}
.m-evaluateMembers-item{
  padding: 0.35rem 0.33rem;
  background-color: #ffffff;
  margin-bottom: 0.24rem;
  font-size: 0.26rem;
  color: #666666;
}
.m-evaluateMembers-item:last-of-type{
  margin-bottom: 0;
}
.m-evaluateMembers-item-h{
  display: flex;
  line-height: 0.69rem;
  margin-bottom: 0.44rem;
}
.m-evaluateMembers-item-h input{
  width: 1.7rem;
  height: 0.58rem;
  line-height: 0.58rem;
  border-radius: 0.1rem;
  border: 1px solid #888888;
  outline: none;
  padding: 0 0.5rem;
  margin-left: 0.17rem;
}
.m-evaluateMembers-item textarea{
  width: 100%;
  border: none;
  outline: none;
  resize:none
}


/*个人资料*/
.m-userInfo{
  height: 100%;
  background-color: #3B9BFF;
}
.m-userInfo-contain{
  flex: 1;
  background-color: #ffffff;
  margin-top: 1rem;
  position: relative;
  border-radius: 0.3rem 0.3rem 0 0;
  padding: 1.82rem 0 0.49rem 0;
}
.m-userInfo-icon{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -0.84rem;
  text-align: center;
  font-size: 0.3rem;
  color: #444444;
}
.m-userInfo-contain img{
  width: 1.48rem;
  height: 1.48rem;
  border-radius: 50%;
  box-sizing: content-box;
  border: 0.1rem solid #ffffff;
}
.m-scroll{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.m-userInfo-detail{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
/* .m-userInfo-detail>div{
  padding: 0.4rem 0.3rem;
  border-bottom: 1px solid #E5E5E5;
  font-size: 0.34rem;
} */
.m-userInfo-detail .mint-cell-wrapper{
  border-bottom: 1px solid #E5E5E5;
  padding: 0 0.3rem;
  height: 1.11rem;
  font-size: 0.34rem;
}
.m-userInfo-detail .mint-cell-title{
  color: #222222;
  font-weight: 500;
}
.m-userInfo-detail .mint-cell-value{
  color: #666666;
}
.m-userInfo-detail .mint-cell-allow-right::after{
  width: 0.24rem;
  height: 0.24rem;
}




/*学生直播间*/
.m-liveStudent{
  height: 100%;
}
.m-liveStudent .mint-tab-container{
  flex: 1;
}
.m-liveStudent .mint-tab-container .mint-tab-container-wrap{
  height: 100%;
}
.m-live-box{
  height: 4.2rem;
}
.m-liveStudent>.ivu-icon{
  position: absolute;
  font-size: 0.6rem;
  color: #ffffff;
  top: 0.1rem;
  left: 0.1rem;
  z-index: 2;
}
.m-pdfcard{
  width: 100%;
  height: 100%;
  background-color: #191919;
  position: relative;
}
.m-pdf-control{
  position: absolute;
  bottom: 0.15rem;
  width: 100%;
  text-align: center;
}
.m-pdf-control>img{
  width: 0.19rem;
  vertical-align: middle;
}
.m-pdf-control>.m-pdf-control-r{
  position: absolute;
  width: 0.44rem;
  right: 0.31rem;
  bottom: 0;
}
.m-pdf-control>span{
  color: #ffffff;
  font-size: 0.26rem;
  margin: 0 0.48rem;
  vertical-align: middle;
}


/*直播间笔记*/
.m-live-note{
  height: 100%;
}
.m-live-note-list{
  flex: 1;
  overflow-y: scroll;
}
.m-live-note-item{
  padding: 0.35rem 0.3rem;
  color: #222222;
  font-size: 0.3rem;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
}
.m-live-note-item>span{
  flex: 1;
}
.m-live-note-item>span>input{
  width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  outline: none;
  border: none;
}
.m-live-note-item>.ivu-icon{
  font-size: 0.42rem;
}
.m-live-note-bottom{
  margin: 0.32rem 0.3rem;
  height: 0.88rem;
  line-height: 0.88rem;
  background-color: #3B9BFF;
  font-size: 0.3rem;
  color: #FFFFFF;
  text-align: center;
  border-radius: 0.1rem;
}


.m-message .mint-tab-container::-webkit-scrollbar { width: 0 !important }
